nav-bar {
  background: lightblue;
  border-bottom-color: black;
  border-bottom-width: 2px;
  font-family: monospace;
}

button {
  background-color: lightcoral;
  border-color: transparent;
  font-family: monospace;
  font-size: 20px;
  cursor: grab;
}
